<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Заголовок за замовчуванням</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link rel="stylesheet" th:href="@{/css/header.css}" />-->
</head>
   <body>
      <header>
         <nav>
             <ul>
                 <li><a href="/">Home</a></li>
                 <li><a href="#">About us</a></li>
                 <li><a href="/shop">Shop</a></li>
                 <li><a href="/shop/addgood">Add product</a></li>
                 <li><a href="/admin">Admin panel</a></li>
             </ul>
         </nav>
         <div class="user-profile">
<!--             <img src="Profile_avatar_placeholder_large.png" alt="error">-->
             <a href="/userprofile"><span th:if="${isAuthenticated}" th:text="${user.fullName}"></span></a>
             <span th:if="${isAuthenticated}" th:text="${user.fullName}"></span>
             <form action="/logout" method="post">
                <input type="hidden"  name="_csrf" value="${_csrf.token}">
                <button class="logout_btn" value="logout" th:if="${isAuthenticated}">Logout</button>
             </form>
             <a href="/cart"><button class="logout_btn" th:if="${isAuthenticated}">Cart</button></a>
             <a href="/login">
             <button class="login_btn" th:unless="${isAuthenticated}">Login</button>
             </a>
         </div>
     </header>
   </body>
</html>