<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Заголовок за замовчуванням</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<header th:insert="header :: header"></header>
<h1>
    Hello <span th:if="${isAuthenticated}" th:text="${user.email}"></span>
</h1>
</body>
<body>
<h1>Hello</h1>
<form action="/logout" method="post">
    <input type="hidden"  name="_csrf" value="${_csrf.token}">
    <input type="submit" value="logout">
</form>
<a href="/">Homepage</a>
</body>
</html>